@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.stroke-text{
  -webkit-text-stroke:5px white;
  -webkit-text-fill-color:transparent;
  transition: all 250ms ease-in-out;
}
.marquee:hover {
  animation-play-state: paused;
}
.stroke-text:hover{
  color: white;
  -webkit-text-fill-color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

canvas,
#canvas-div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "PfefferMediaeval";
  src: url("../public/PfefferMediaeval.otf");
}

.font-pfeffer {
  font-family: "PfefferMediaeval";
}

.noscroll::-webkit-scrollbar {
  width: 10px;
}

.noscroll {
  -ms-overflow-style: 10px;
  scrollbar-width: 10px;
}