@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}
.square {
  /* aspect-ratio: 1 / 1; */
  @apply h-16 bg-yellow-600;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

@font-face {
  font-family: 'avishkar';
  src: local('avishkar'), url(./fonts/PixelCards.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'pacman';
  src: local('pacman'), url(./fonts/PAC-FONT.TTF) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.font-avishkar {
  font-family: 'pacman', 'sans';
}
/* retro game btn */
.retro-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
.retro-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

/* classes for the stroke text on homepage */
.stroke-text {
  -webkit-text-stroke: 5px white;
  -webkit-text-fill-color: transparent;
  transition: all 250ms ease-in-out;
}
.marquee:hover {
  animation-play-state: paused;
}
.stroke-text:hover {
  color: white;
  -webkit-text-fill-color: white;
}

/* classes for cards on department page */
.stack__deco {
  @apply absolute top-0 left-0 w-full h-full bg-current origin-[50%_100%] opacity-0 rotate-0 scale-100 translate-y-0 transition-all duration-300;
}
.stack__deco:hover {
  scale: 1.05;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.title {
  text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

canvas,
#canvas-div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@font-face {
  font-family: 'PfefferMediaeval';
  src: url('../public/PfefferMediaeval.otf');
}

.font-pfeffer {
  font-family: 'PfefferMediaeval';
}

.noscroll::-webkit-scrollbar {
  width: 10px;
}

.noscroll {
  -ms-overflow-style: 10px;
  scrollbar-width: 10px;
}

@media only screen and (max-width: 600px) {
  .animate-marquee-rtl,
  .animate-marquee-ltr {
    animation-duration: 10s;
  }
}
